@{
  Layout = "_Layout";
}

@using VendorOrders.Models;

<h2>Customer Details</h2>
<hr />
<p>@Model["vendor"].Name</p>
<p>@Model["vendor"].Description</p>




<h3>Here are the orders for this customer:</h3>

<ol>
@foreach (Order order in @Model["orders"])
{
  <li><a href='/vendors/@Model["vendor"].VendorId/orders/@order.OrderId'>Date: @order.Date, Desc: @order.Description, Price: @order.Price</a></li>
}
</ol>


<p><a href='/vendors/@Model["vendor"].VendorId/orders/new'>Add a new order</a></p>
<p><a href='/vendors'>Return to customer list</a></p>
<p><a href='/'>Return to Main Page</a></p>